.ui-datepicker-calendar {
    /*display: none;*/
}​
 .table-equal-rows-width table {
       table-layout: fixed;
   }
.table-equal-rows-width > table > td {
    width: 2%;
}
.lowercase {
    text-transform: lowercase;
}
#photoWidgetPager a.pager {
    display: inline-block;
}
#photoWidgetPager a.active {
    color: red;
}
.album-thumb {
    display: table-cell;
    width: 130px;
    height: 130px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.loader {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: url('/img/loading.gif') no-repeat;
    background-size: 20px 20px;
    background-position: center center;
}
#photoLoader {
    background: url('/img/loading.gif') no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: none;
}