/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}
html, body {
    height: 100%;
    /* margin-bottom: 36px; */
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: PoiretOne;
    src: url('/css/font/PoiretOne-Regular.ttf');
}
@font-face {
    font-family: OpenSansLight;
    src: url('/css/font/OpenSans-Light.ttf');
}

a {
    text-decoration: none;
}
body {
    background: #382b22 url("/img/bg-main-page.jpg") top center;
    /* background-position: 207px; */
    font-family: PoiretOne;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position-y: 18px;
}
.header-and-content-wrap {
    /* min-height: 100%; */
    /* height: auto !important; */
    /* margin-bottom: 220px; */
    /*height: 100%;*/
    /* margin-bottom: 11px; */
}
header {
    height: 70px;
    background-color: white;
    background-size: 50px;
    /* background-image: url('/img/header-menu-bg.png'); */
    position: relative;
    margin-bottom: 10px;
}
header .header-wrap {
    margin: 0 auto;
    width: 850px;
    position: relative;
    /* text-align: center; */
}
header ul {
    height: 70px;
    text-align: center;
}
header li {
    display: inline-block;
    margin: 0 18px;
    padding: 24px 0;
}
header menu .middle-leaf {
    padding: 12px 0;

}
header menu a {
    text-transform: uppercase;
    color: black;
    font-size: 12px;
}
.header-bg {
    background-image: url('/img/header-menu-bg.png');
    height: 20px;
    bottom: -10px;
    position: absolute;
    width: 100%;
}
.right-buttons {
    position: absolute;

    right: 0;
    top: 12px;
}
.profile {
    display: inline-block;

    width: 48px;
    height: 48px;
    background-image: url('/img/cabinet.png');
}
.basket {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url('/img/basket.png');
    margin-left: 5px;
}
.content {
    width: 850px;
    margin: 0 auto;
}
.inner-page {
    margin-top: 60px;

}
.home-page{
    text-transform: none;
    text-align: center;
}
.home-page .content{
    margin-top: 25px;
    margin-bottom: 18px;
}
.home-page .title-home{
    color: white;
    font-size: 63px;
    text-align: center;
    line-height: 1.2;
}
.home-page .title-home span{
    display: block;
    font-size: 15px;
}
.home-page .buttons-soc{
    padding: 13px 0 318px 38%;
}
.home-page .buttons-soc .inst, .home-page .buttons-soc .fb, .home-page .buttons-soc .vk{
    display: block;
    float: left;
    cursor: pointer;
    width: 61px;
    height: 61px;
    border-radius: 10px;
    margin-right: 12px;
}
.home-page .buttons-soc .inst{
    background:  #929396 url("/img/inst.png") no-repeat center;
}
.home-page .buttons-soc .fb{
    background:  #8cc5b3 url("/img/fb.png") no-repeat center;
}
.home-page .buttons-soc .vk{
    background:  #639fbc url("/img/vk.png") no-repeat center;
}
.home-page .print-button{
    font-size: 22px;
    padding: 8px 16px;
}
.home-page .desc-button-print{
    color: #ffffff;
    font-size: 23px;
    margin-top: 5px;
}
.img-main-page{
    height: 653px;
    background:  url('/img/line-over-footer.png') repeat-x bottom, url('/img/bg-over-footer.jpg');
}
.basket-cost {
    width: 150px;
    /* border: 1px solid greenyellow; */
    margin-right: 5px;
}
.all-photos-thumbs {
    width: 340px;
    /* border: 1px solid greenyellow; */
    margin-right: 25px;
}
.social-photo-widget {
    width: 330px;
    /* border: 1px solid greenyellow; */
    background: red;
}
.white-text {
    color: white;
    font-size: 12px;
}
.basket-cost .white-text {
    padding-top: 2px;
}
.green-text {
    font-size: 14px;
    color: #19BDC3;
    line-height: 16px;
}
#price {
    color: #19BDC3;
    font-size: 66px;
    height: 66px;
    line-height: 66px;
    display: inline-block;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 22px;
}
#price sup {
    font-size: 14px;
    position: absolute;
    /* margin-top: -37px; */
    /* display: inline-block; */
    top: 0;
    right: 0;
    /* height: 30px; */
    line-height: 30px;
    font-weight: bold;
}
.print-button {
    background-color: #19BDC3;
    border-radius: 10px;
    border-bottom: 3px solid #3492B0;
    display: inline-block;
    padding: 8px 15px;
    color: white;
    font-size: 16px;
}
footer {
    height: 220px;
    /*margin-top: -230px;*/
    background-color: white;
}
h2 {
    font-size: 16px;
    color: #19BDC3;
}
.footer-text-wrap {
    width: 100%;
    text-align: center;
    height: 140px;
    position: relative;
    margin: 10px 0;
}
.footer-top-bg {
    position: absolute;
    height: 20px;
    width: 100%;
    background-image: url('/img/footer-top-bg.png');
    top: -9px;
}
.footer-bottom-bg {
    position: absolute;
    height: 20px;
    width: 100%;
    /* background-color: red; */
    background-image: url('/img/footer-bottom-bg.png');
    bottom: -18px;
}
.footer-text h2 {
    margin-bottom: 20px;
    padding-top: 30px;
}
.footer-text p {
    font-size: 12px;
    font-family: "Open Sans";;
    color: #A7A9AC;
    line-height: 16px;
    text-align: center;
}
.footer-text {
    width: 850px;
    margin: 0 auto;
}
.footer-menu {
    background: #6BC6B4;
    height: 70px;
}
footer menu {
    font-family: "Open Sans";
    text-align: center;
}
footer menu ul {
    padding-top: 28px;
}
footer li {
    display: inline-block;
    padding: 0 12px;
}
footer li a {
    color: white;
    font-size: 14px;
}
.footer-menu-wrap {
    width: 850px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.socials-bottom {
    position: absolute;
    right: 30px;
    top: 28px;
}
.socials-bottom a {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.socials-bottom .ins {
    background-image: url('/img/ins-icon.png');
}
.socials-bottom .fb {
    background-image: url('/img/fb-icon.png');
}
.socials-bottom .vk {
    background-image: url('/img/vk-icon.png');
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.left {
    float: left;
}

.right {
    float: right;
}

/*.clearfix {*/
/*float: none;*/
/*clear: both;*/
/*}*/

.hidden {
    display: none !important;
    visibility: hidden;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    top: 0;
    left: 0;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-hidden .left {
    min-height: 100px;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

