/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}
html, body {
    height: 100%;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: AGOpus;
    src: url('/css/fonts/AGOpusRoman.ttf');
}
body {
    background: fixed green url("/img/bg.jpg") center top;
    font-family: "Open Sans";
}
li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
header {
    /*font-family: AGOpus;*/
    margin-top: 20px;
    background-color: #E6E6E6;
    height: 110px;
    width: 100%;
    position: relative;
}
section, article {
    display: block;
}
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.table {
    display: table;
}
.table-cell {
    display: table-cell;
}
.vertical-align-middle {
    vertical-align: middle;
}
.text-align-center {
    text-align: center;
}
.head-block {
    background-color: #BF100A;
    height: 80px;
    box-shadow: 0 0 4px 0 #000000;
    -webkit-box-shadow: 0 0 4px 0 #000000;
    -moz-box-shadow: 0 0 4px 0 #000000;
    position: absolute;
    top: 20px;
    width: 100%;
}
.switch-lang-box {
    position: absolute;
    right: 0;
}
.switch-lang-box li {
    display: inline-block;
    border-right: 1px solid #ffffff;
    padding: 0 10px;
    line-height: 16px;
}
.switch-lang-box li:last-child {
    border: none;
}
.switch-lang-box a {
    /*text-decoration: underline;*/
}
.head-bg {
    width: 920px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
header .logo {
    display: inline-block;
    position: absolute;
    top: -25px;
    left: 17px;
}
header menu,
header nav {
    height: 80px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 175px;
}
header menu > ul > li,
header nav > ul > li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 12px;
    font-size: 1em;
    color: white;
    list-style: none;
    position: relative;
}
header menu > ul > li > a,
header nav > ul > li > a{
    color: white;
    text-decoration: none;
    padding: 0 3px;
}
header menu > ul > li.active,
header menu > ul > li:hover,
header nav > ul > li.active,
header nav > ul > li:hover
/*header menu > ul > li:hover > a,*/
/*header menu > ul > li.active > a,*/
/*header menu > ul > li.active > a:hover*/
{
    /*color: #BF100A;*/
    /*background-color: white;*/
    border-radius: 4px;
    box-shadow: 0 0 8px -1px #1E1E1E;

}
header menu > ul > li > ul,
header nav > ul > li > ul {
    text-transform: none;
    visibility: hidden;
    opacity: 0;
    width: auto;
    min-width: 100px;
    background-color: #BF100A;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    position: absolute;
    padding: 10px;
    border-radius: 4px;
    border-top-left-radius: 0;
    z-index: 101;
    box-shadow: 2px 2px 14px 1px #490909;
}
header menu > ul > li:hover > ul,
header nav > ul > li:hover > ul{
    opacity: 1;
    visibility: visible;
}
header menu > ul > li > ul > li a,
header nav > ul > li > ul > li a{
    color: white;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;

}
header menu > ul > li > ul > li:hover,
header nav > ul > li > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 2px 2px #BF100A inset;
}
header menu > ul > li > ul > li:hover a,
header nav > ul > li > ul > li:hover a {
    margin-left: 10px;
}
header menu > ul > li > ul > li:first-letter,
header nav > ul > li > ul > li:first-letter{
    text-transform: capitalize;
}
header .soc-links {
    position: absolute;
    bottom: -34px;
    right: -20px;
}
header .soc-links ul {
    background-color: #E6E6E6;
    height: 100%;
    padding: 0 9px;
}

/*header .soc-links ul:before {*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*display: inline-block;*/
    /*border-right: 30px solid #E6E6E6;*/
    /*border-bottom: 30px solid transparent;*/
    /*line-height: 30px;*/
    /*position: absolute;*/
    /*left: -29px;*/
    /*top: 0;*/
    /*content: "";*/
/*}*/
.before {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    border-right: 32px solid #E6E6E6;
    border-bottom: 28px solid transparent;
    line-height: 30px;
    position: absolute;
    left: -31px;
    top: 12px;
    content: "";
}
/*header .soc-links ul:after {*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*display: inline-block;*/
    /*border-left: 30px solid #E6E6E6;*/
    /*border-bottom: 30px solid transparent;*/
    /*line-height: 30px;*/
    /*position: relative;*/
    /*left: -5px;*/
    /*top: 13px;*/
    /*content: "";*/
/*}*/
.after {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    border-left: 32px solid #E6E6E6;
    border-bottom: 28px solid transparent;
    line-height: 30px;
    position: relative;
    left: -5px;
    top: 12px;
    content: "";
}
header .soc-links ul li{
    display: inline-block;
    padding-bottom: 2px;
}
.head-and-content-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -90px;
}
.wrap {
    width: 900px;
    margin: 40px auto;
    background-color: rgba(0,0,0, 0.3);
    min-height: 500px;
    padding: 15px 10px 15px 10px;
    color: #f5f5f5;
}
.content-wrap {
    background-color: #EBEEE7;
    width: 100%;
    height: 100%;
    color:#000000;
}
.content-wrap .page-content {
    padding: 30px 40px;
    font-size: 0.9em;
    line-height: 2em;
}
.content-wrap .page-content h1 {
    font-size: 1.3em;
    color: #3E3E3E;
    font-weight: 600;
    text-align: center;
    margin: 0 0 1em 0;
}
.content-wrap .page-content img {
    border: 1px solid black;
}
.content-wrap .page-content img.left {
    margin-right: 20px;
}
.content-wrap .page-content img.right {
    margin-left: 20px;
}
.stripe2 {
    width: 832px;
    height: 25px;
    background-color: #e20105;
    z-index: 100;
    position: relative;
    /*top: -20px;*/
}
.stripe2-triangle {
    background: transparent url("/img/triangle.png") no-repeat;
    position: relative;
    left: 50px;
    z-index: 50;
    width: 50px;
    height: 30px;
    overflow: hidden;
}
.event-title {
    display: inline-block;
    margin-left: 20px;
    font: 14px "Open Sans" bolder;
    color: white;
    line-height: 25px;
}

.wrap .event-title {
    text-transform: uppercase;
    margin: 0 0 0 10px;
    display: inline-block;
    background: transparent;
}
.photo-gallery .event-title {
    position: absolute;
    text-align: center;
    width: 176px;
    margin: 0;
    text-transform: lowercase;
    background-color: rgba(255,255,255, 0.5);
    font-size: 12px;
    line-height: 16px;
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid black;
 }
.photo-gallery .event-cover {
    position: relative;
    display: inline-block;
}
footer {
    background-color: #EBEBEB;
    position: relative;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
}
footer, .push {
    height: 90px;
    clear: both;
}
footer .footer-bg {
    background-color: #BF100A;
    height: 75px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 5px 4px 5px #000000;
}
footer .footer-block {
    width: 920px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
footer .logo {
    width: 109px;
    position: absolute;
    top: -42px;
    left: 413px;
}
.copyright {
    text-align: left;
    position: absolute;
    left: 15px;
    height: 100%;
}
footer menu li.active a,
.yellow {
    color: #FBC801;
}
footer menu {
    position: absolute;
    right: 0;
    text-align: left;
    display: inline-block;
    width: 305px;
    height: 100%;
}
footer menu ul {
    display: table-cell;
    vertical-align: middle;
}
footer menu > ul > li {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 5px;
}
footer menu ul li:first-letter {
    text-transform: capitalize;
}

/* MAIN SLIDER */
.main-carousel {
    width: 900px;

    /*height: 315px;*/
    /*width: 70%;*/
    /*height: 100%;*/
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
}
.main-carousel #mainCarousel {
    border: 1px solid #000000;
}
.main-carousel div.slide {
    position: relative;
}
.main-carousel div.slide img {
    width: 900px;
    height: 350px;
    /*width: 100%;*/
    /*height: 100%;*/
}
.main-carousel div.slide > div {
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    overflow: hidden;
    width: 100%;
    /*display: none;*/
    position: absolute;
    bottom: 0;
}
.main-carousel div.slide p {
    font-size: 0.9em;
    color: white;
    margin: 12px 0 0 5px;
}
.main-carousel .pagination {
    float: right;
    padding-top: 10px;
    height: 15px;
}
.main-carousel .pagination a {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -10000px;
    background: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left: 20px;
}
.main-carousel .pagination a:last-child {
    margin-right: 10px;
}
.main-carousel .pagination a.selected {
    background: red;
}
.main-gallery {
    margin-bottom: 10px;
}
.video-gallery {
    width: 265px;
    height: 100px;
    /*border: 1px solid red;*/
}
.video-gallery .videos {
    border-top: 3px solid #E20105;
    height: 100px;
}
.video-gallery > .section-head, .photo-gallery > .section-head {
    padding: 10px;
    color: white;
    text-shadow: 0 1px 0 black;
    line-height: 56px;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #E20105;
    height: 0;
    display: inline-block;
    text-transform: uppercase;
}
.video-gallery .videos-container {
    /*width: 100%;*/
    /*height: 100%;*/
    border: 1px solid #7E8C79;
    border-top: 3px solid #E20105;
    padding: 1px;
}
.video-gallery .video-body {
    width: 260px;
    height: 170px;
}
.video-gallery .video-body > * {
    position: absolute;
}
.video-gallery .video-body img {
    width: 100%;
    height: 100%;
}
.video-gallery .video-body .video-head {
    display: inline-block;
    width: 250px;
    background-color: black;
    z-index: 2;

}
.video-gallery .video-body .video-head h3 {
    display: inline-block;
    max-width: 165px;
    font-size: 0.8em;
    line-height: 13px;
    padding: 5px 0 0 10px;
    font-weight: normal;
}
.video-gallery .video-body .video-head time {
    font-size: 0.8em;
    padding-top: 2px;
    float: right;
    color: white;
}
.videos-container {
    width: 265px;
}
.videos-body .viewport { width: 250px; height: 328px; overflow: hidden; position: relative; }
.videos-body .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.videos-body .scrollbar{ background-color: #000000; position: relative; float: right; width: 15px; }
.videos-body .track { background-color: #000000; height: 100%; width:13px; position: relative; padding: 0 1px; }
.videos-body .thumb { background-color: red; height: 20px; width: 9px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 3px; }
/*.photos-body .thumb .end { background: transparent url(/img/tinyscrollbar/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }*/
.videos-body .disable { display: none; }


.photo-gallery {
    width: 595px;
    min-height: 100px;
    margin-left: 15px;
}
.photo-gallery .photos-container {
    border: 1px solid #7E8C79;
    border-top: 3px solid #E20105;
    padding: 1px;
}
.photo-gallery .photos-body {
    width: 590px;
    background-color: rgba(0, 0, 0, 0.5);
}
.photos-container img {
    margin-bottom: 10px;
    margin-right: 5px;
}
.photos-body .viewport { width: 570px; height: 328px; overflow: hidden; position: relative; }
.photos-body .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 10px; margin: 0; width: 100%; overflow-x: hidden; }
.photos-body .scrollbar{ background-color: #000000; position: relative; float: right; width: 15px; }
.photos-body .track { background-color: #000000; height: 100%; width:13px; position: relative; padding: 0 1px; }
.photos-body .thumb { background-color: red; height: 20px; width: 9px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 3px; }
/*.photos-body .thumb .end { background: transparent url(/img/tinyscrollbar/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }*/
.photos-body .disable { display: none; }

.photo-gallery .photos-body > a {
    display: inline-block;
}
.photo-gallery .photos-body > a > img {
    margin: 4px 2px;
}
/*.main-news .tabs:before,*/
.tabs-under {
    /*margin-left: -10px;*/
    margin-top: -10px;
    width: 317px;
    /*z-index: 0;*/
    position: absolute;
    content: "";
    padding: 10px;
    color: #E20105;
    text-shadow: 0 1px 0 black;
    line-height: 56px;
    border-right: 64px solid transparent;
    border-bottom: 36px solid #C80A04;
    height: 0;
    display: inline-block;
    text-transform: uppercase;
}
.tabs-under-line {
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -1px;
    background-color: #C80A04;
    z-index: 0;
}
.main-news .tabs-wrap {
    height: 45px;
}
.main-news .tabs li {
    text-transform: uppercase;
    display: inline-block;
    background-color: #E6E6E6;
    margin-top: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.main-news .tabs li a {
    color: #C80A04;
}
/*.main-news ul.tabs li:last-child:after {*/
    /*content: " ";*/
    /*display: inline-block;*/
    /*border-right: 51px solid transparent;*/
    /*border-bottom: 30px solid #E6E6E6;*/
    /*line-height: 40px;*/
    /*position: absolute;*/
    /*right: -51px;*/
    /*top: 15px;*/
/*}*/
.main-news ul.tabs li:last-child {
    background-color: transparent;
    background-image: url('/img/tabs-bg.png');
    background-position-x: -18px;
    background-repeat: no-repeat;
    /*display: inline-block;*/
    width: 190px;
    margin-left: -2px;
}
.main-news ul.tabs .before {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    border-right: 51px solid transparent;
    border-bottom: 30px solid #E6E6E6;
    line-height: 40px;
    position: relative;
    left: -4px;
    top: 9px;
}
.main-news ul.tabs li.ui-state-active {
    height: 31px;
    box-shadow: 0 9px 12px -5px #9E9E9C;
}
.main-news ul.tabs li.ui-state-active a:active{
    border: none;
}
.main-news .news-body {
    width: 405px;
    height: 90px;
    float: left;
    border-bottom: 1px dotted #B8B9B5;
    position: relative;
}
.main-news .news-body:nth-of-type(odd) {
    margin-right: 50px;
}
.main-news .news-body img {
    width: 120px;
    height: 80px;
    float: left;
    margin-right: 30px;
    margin-top: 5px;
}
.main-news .news-body time {
    color: #808080;
    font-size: 0.7em;
}
.main-news .news-body .news-desc {
    font-size: 0.85em;
    line-height: 17px;
    color: #000000;
    /*if use dotdotdot*/
    overflow: hidden;
    height: 50px;
}
.main-news .news-body .read-news {
    color: #D50A0C;
    text-decoration: underline;
    font-size: 0.75em;
    position: absolute;
    /*left: 150px;*/
    right: 0;
    bottom: 3px;
}
.main-news .news-body .read-news:first-letter {
    text-transform: uppercase;
}
.nice-link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid red;
}
.news-tab {
    padding: 25px 20px 15px 15px;
    /*width: 900px;*/
    /*height: 300px;*/
    background-color: white;
    overflow: hidden;
    max-height: 315px;
    overflow: hidden;
}
.breadcrumbs {
    padding-bottom: 10px;
    font: 13px "Open sans" normal;
}
.breadcrumbs, .breadcrumbs a, .breadcrumbs span {
    color: white;
    font: 13px "Open sans" normal;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
}
.breadcrumbs > a:not(:last-child):after {
    content: " / "
}
.breadcrumbs a:hover {
    color: #BF100A;
}

/*video page */
.videos-event-name {
    background: #F6F6F6;
    margin-bottom: 15px;
    border: 1px solid #E1E1E1;
    border-bottom: 1px solid #979797;
    padding: 5px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.videos-event-body {
    display: none;
    text-align: center;
}
.videos-event-name span {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 34px;
    width: 34px;
    display: inline-block;
    position: absolute;
    right: 11px;
    top: 4px;
}
.videos-event-name span.open {
    background-image: url('/img/br_down.png');

}
.videos-event-name span.loading {
    background-image: url("/img/load_bar.gif");
    background-size: 25px 25px;
}
.videos-event-name span.close {
    background-image: url('/img/br_down.png');
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.redPager {
    text-align: center;
}
.redPager ul li {
    display: inline-block;
}
.redPager .page.selected a {
    color: red;
}
.video-name {
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.left {
    float: left;
}

.right {
    float: right;
}

/*.clearfix {*/
    /*float: none;*/
    /*clear: both;*/
/*}*/

.hidden {
    display: none !important;
    visibility: hidden;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
