/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}
html, body {
     height: 100%;
    /* margin-bottom: 36px; */
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    /* background: #b3d4fc; */
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: PoiretOne;
    src: url('/css/font/PoiretOne-Regular.ttf');
}
@font-face {
    font-family: OpenSansLight;
    src: url('/css/font/OpenSans-Light.ttf');
}

a {
    text-decoration: none;
}
body {
    background: fixed #352D22 url("/img/bg.jpg") center top;
    font-family: PoiretOne;
    text-transform: uppercase;
    /* margin-bottom: -27px; */
}
.header-and-content-wrap {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -230px;
    overflow: hidden;

}
header {
    height: 70px;
    background-color: white;
    background-size: 50px;
    /* background-image: url('/img/header-menu-bg.png'); */
    position: relative;
    margin-bottom: 10px;
    display: block;
    z-index: 4;
}
header .header-wrap {
    margin: 0 auto;
    width: 850px;
    position: relative;
    /* text-align: center; */
}
header ul {
    height: 70px;
    text-align: center;
}
header li {
    display: inline-block;
    margin: 0 18px;
    padding: 24px 0;
}
header menu .middle-leaf {
    padding: 12px 0;

}
header menu a {
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    cursor: pointer;
}
.header-bg {
    background-image: url('/img/header-menu-bg.png');
    height: 20px;
    bottom: -10px;
    position: absolute;
    width: 100%;
}
.right-buttons {
    position: absolute;

    right: 0;
    top: 12px;
}
.profile {
    display: inline-block;
    visibility: hidden;
    width: 48px;
    height: 48px;
    background-image: url('/img/cabinet.png');
}
.basket {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url('/img/basket.png');
    margin-left: 5px;
}
.content {
    width: 950px;
    margin: 0 auto;
    /* border: 1px solid red; */
    clear: both;
    float: none;
    /* overflow: hidden; */
    padding-bottom: 230px;
}
.inner-page {
    margin-top: 60px;

}
.home-page{
    text-transform: none;
    text-align: center;
    min-height: 0;
}
.home-page .content{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 850px;
}
.home-page .title-home{
    color: white;
    font-size: 63px;
    text-align: center;
    line-height: 1.2;
}
.home-page .title-home span{
    display: block;
    font-size: 15px;
}
.home-page .buttons-soc{
    padding: 8px 0 288px 38%;
}
.home-page .buttons-soc .inst, .home-page .buttons-soc .fb, .home-page .buttons-soc .vk{
    display: block;
    float: left;
    cursor: pointer;
    width: 61px;
    height: 61px;
    border-radius: 10px;
    margin-right: 12px;
}
.home-page .buttons-soc .inst{
    background:  #929396 url("/img/inst.png") no-repeat center;
}
.home-page .buttons-soc .fb{
    background:  #8cc5b3 url("/img/fb.png") no-repeat center;
}
.home-page .buttons-soc .vk{
    background:  #639fbc url("/img/vk.png") no-repeat center;
}
.home-page .print-button{
    font-size: 22px;
    padding: 8px 16px;
}
.home-page .desc-button-print{
    color: #ffffff;
    font-size: 23px;
    margin-top: 5px;
}
.img-main-page{
    height: 653px;
    background:  url('/img/line-over-footer.png') repeat-x bottom, url('/img/bg-over-footer.jpg');
}
.basket-cost {
    width: 150px;
    /* border: 1px solid greenyellow; */
    margin-right: 5px;
}
.all-photos-thumbs {
    width: 342px;
    /* border: 1px solid greenyellow; */
    margin-right: 33px;
    overflow: hidden;
}
.all-photos-thumbs .photo-wrap:nth-child(3n+3){
    margin-right: 0;
}
.photo-wrap {
    width: 110px;
    height: 130px;
    background-color: white;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    text-align: center;
    position: relative;
}
.photo {
    height: 97px;
    width: 97px;
    display: inline-block;
    margin-top: 6px;
    overflow: hidden;
}
.photo-wrap .remove {
    background-image: url('/img/remove-image.png');
    height: 16px;
    display: inline-block;
    width: 16px;
    position: absolute;
    right: 12px;
    top: 12px;
}
.social-photo-widget {
    width: 420px;
}
h1 {
    color: #18BCC2;
    font-size: 50px;
    line-height: 50px;
}
.social-photo-widget h1 {
    margin-top: -6px;
}
.white-text {
    color: white;
    font-size: 12px;
}
.basket-cost .white-text {
    padding-top: 2px;
}
.head-page{
    position: relative;z-index: 1;
    color: white;
    font-size: 63px;
    text-align: center;
    background: url("../img/page-header.jpg");
    top: -9px;
    height: 110px;
    line-height: 110px;
}
.wrapper-page{
    padding-bottom: 230px;
    overflow: hidden;
    width: 950px;
    margin: 0 auto;
}
.wrapper-page .left-page{
    float: left;
    width: 564px;
    /*margin-left: 90px;*/
}
.wrapper-page .right-page{
    float: right;
    width: 306px;
}
.wrapper-page .title-page{
    color: #6cbbc1;
    font-size: 50px;
    font-weight: bold;
}
.right-block-info{
    background-color: #ffffff;
    width: 265px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    padding: 20px 0 34px 40px;
    margin: 140px 0 0 0;

}
.right-block-info .head-block-info{
    display: block;
    color: #18BDC3;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
}
.desc-photo{
    font-size: 12px;
    color: #929496;
    /* font-weight: bold; */
    line-height: 14px;
    width: 200px;
    font-family: "Open Sans";
}
.watch-button{
    background-color: #19BDC3;
    border-radius: 21px;
    border: none;
    border-bottom: 3px solid #3492B0;
    display: inline-block;
    padding: 8px 15px;
    color: #262424;
    font-size: 16px;
    margin: 10px 0 0 0;
}
.right-block-info .price-photo{
    margin: 17px 0 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #929496;
    width: 130px;
    /* font-weight: bold; */
    font-family: "Open Sans";
}

.green-text {
    font-size: 14px;
    color: #19BDC3;
    line-height: 16px;
    font-weight: 600;
}
.total-basket-info .back-button {
    width: 130px;
    margin-top: 20px;
    text-align: center;
}
.grey-text {
    color: #C3C3C5;
    font-size: 12px;
    line-height: 16px;
}
#priceWrap {
    color: #19BDC3;
    font-size: 66px;
    height: 66px;
    line-height: 66px;
    display: inline-block;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 14px;
}
.content-page{
    text-transform: none;
    font-family: "Open Sans";
    line-height: 1.5em;
    font-size: 14px;
}
.content-page p {
    margin: 11px 0;
}
#priceWrap sup {
    font-size: 14px;
    position: absolute;
    /* margin-top: -37px; */
    /* display: inline-block; */
    top: 0;
    right: 0;
    /* height: 30px; */
    line-height: 30px;
    font-weight: bold;
}
.print-button {
    background-color: #19BDC3;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #3492B0;
    display: inline-block;
    padding: 8px 15px;
    color: white;
    font-size: 16px;
}
.print-button + .loader {
    position: static;
}
footer {
    height: 220px;
    /*margin-top: -230px;*/
    background-color: white;
    display: block;
}
h2 {
    font-size: 16px;
    color: #19BDC3;
}
.footer-text-wrap {
    width: 100%;
    text-align: center;
    height: 140px;
    position: relative;
    margin: 10px 0;
    background: url("/img/payments.jpg") no-repeat right center;
}
.footer-top-bg {
    position: absolute;
    height: 20px;
    width: 100%;
    background-image: url('/img/footer-top-bg.png');
    top: -9px;
}
.footer-bottom-bg {
    position: absolute;
    height: 20px;
    width: 100%;
    /* background-color: red; */
    background-image: url('/img/footer-bottom-bg.png');
    bottom: -18px;
}
.footer-text h2 {
    margin-bottom: 20px;
    padding-top: 30px;
}
.footer-text p {
    font-size: 12px;
    font-family: "Open Sans";;
    color: #A7A9AC;
    line-height: 16px;
    text-align: center;
}
.footer-text {
    width: 850px;
    margin: 0 auto;
}
.footer-menu {
    background: #6BC6B4;
    height: 70px;
}
footer menu {
    font-family: "Open Sans";
    text-align: center;
}
footer menu ul {
    padding-top: 28px;
}
footer li {
    display: inline-block;
    padding: 0 12px;
}
footer li a {
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.footer-menu-wrap {
    width: 850px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.socials-bottom {
    position: absolute;
    right: 30px;
    top: 28px;
}
.socials-bottom a {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.socials-bottom .ins {
    background-image: url('/img/ins-icon.png');
}
.socials-bottom .fb {
    background-image: url('/img/fb-icon.png');
}
.socials-bottom .vk {
    background-image: url('/img/vk-icon.png');
}
.social-widget {
    margin-top: 20px;
}
.tabs-head li {
    display: inline-block;
    margin-right: 14px;
}
.tabs-head li:last-child {
    margin-right: 0px;
}
.tabs-head a {
    display: inline-block;
    height: 60px;
    width: 90px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    background-repeat: no-repeat;
}
.tabs-head .ins {
    background-color: #929497;
    background-image: url('/img/ins.png');
    background-position: 33px 16px;
    background-repeat: no-repeat;
}
.tabs-head .fb {
    background-color: #6AC6B4;
    background-image: url('/img/fb-tab-icon.png');
    background-position: 27px 7px;
}
.tabs-head .vk {
    background-color: #35A0BE;
    background-image: url('/img/vk.png');
    background-position: 38px 14px;
}
.tabs-head .upload {
    background-color: #18BCC2;
    background-position: 30px 8px;
    background-image: url('/img/upload.png');
}
.tabs-head a span {
    font-size: 8px;
    color: white;
    width: 100%;
    padding-top: 45px;
    display: inline-block;
}
.tab {
    width: 420px;
    height: 405px;
    max-height: 420px;
    background-color: #eeeeee;
}
.tab h3 {
    font-size: 10px;
    
    font-weight: 400;
    color: #878789;
    margin-top: 8px;
}
.tab h3+p {
    text-transform: lowercase;
    
    font-family: "Open Sans";
    font-size: 13px;
    color: #7E7E80;
}
.scrollbar {
    position: relative;
    background-position: 0 0;
    float: right;
    width: 15px;
}
.track {
    width: 15px;
    position: relative;
    padding: 0 1px;
}
.thumb {
    height: 20px;
    width: 15px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -5px;
    background-color: #E6E7E8;
}
.end {
    overflow: hidden;
    height: 5px;
    width: 25px;
}
.viewport {
    width: 304px;
    height: 410px;
    overflow: hidden;
    /*position: relative;*/
}
.ui-state-hover{
    background-color: rgba(255,0,0,0.5);
}
.ui-state-active{
    background-color: rgba(0,255,66,0.5);
}
.overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}
.viewport a.image-wrap {
    position: relative;
    display: inline-block;
    height: 125px;
    width: 125px;
    float: left;
    text-align: center;
    line-height: 120px;
    border: 1px solid #979797;
    background-color: white;
    margin: 0 8px 9px 2px;

}
.viewport a.image-wrap .add-photo{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 118px;
    z-index: 2;
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
}
.viewport a.image-wrap .add-photo span{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    /* height: 10px; */
    position: absolute;
    top: 38px;
    left: 3px;

}
.viewport a.image-wrap:hover .add-photo{
    visibility: visible;
}
.viewport > a.image-wrap:nth-of-type(3n+3),
.viewport > a.not-album:nth-of-type(3n+4)
{
    margin: 0 2px 10px 0;
}
.viewport > a.image-wrap > img {
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
}
.edit-image {
    width: 600px;
    display: inline-block;
    margin-top: 50px;
    padding-right: 30px;
}
.my-viewport .viewport {
    width: 420px;
    height: 394px;
    overflow: auto;
    padding-bottom: -29px;
}
.my-viewport{
    width: 420px;
}
.stripe {
    height: 10px;
}
.instagram-tab .stripe {
    background-color: #929497;
}
.fb-tab .stripe {
    background-color: #6AC6B4;
}
.vk-tab .stripe {
    background-color: #35A0BE;
}
.upload-tab .stripe {
    background-color: #18BCC2;
}
.album-thumb {
    display: inline-block;
    
    float: left;
    height: 110px;
    width: 132px;
    text-align: center;
    position: relative;
}
.album-thumb p {
    text-transform: capitalize;
    
    font-size: 12px;
    font-family: "Open Sans";
    color: #909090;
    padding: 7px 0;
    text-align: center;
    /* display: inline-block; */
}
.active {
    color: red;
}
.loader {
    display: none;
    height: 20px;
    width: 20px;
    position: absolute;
    background-size: 100%;
    background-image: url('/img/loading.gif');
    top: 30px;
    left: 54px;
}
.price-loader {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 100%;
    background-image: url('/img/loading.gif');
}
.pager,
.active {
    display: inline-block;
    padding: 0 3px;
}
.clear-float {
    clear: both;
}
.login-social {
    display: block;

    height: 30px;
    border-radius: 16px;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}
.instagram-tab .login-social {
    background-color: #929497;
}
.fb-tab .login-social {
    background-color: #6AC6B4;
}
.vk-tab .login-social {
    background-color: #35A0BE;
}
.enter {
     padding: 12px;
}
.basket-detail {
    border-spacing: 4px;
    border: 1px solid #6BC6B3;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
}
.basket-detail tr {

}
.basket-detail td {
    padding: 10px;
    border: 1px solid #6BC6B3;
}
.single-img-price {
    color: red;
    
    /* font-weight: 700; */
    /* width: 100px; */
    font-size: 10px;
    display: inline-block;
    /* text-align: center; */
    float: right;
}
.single-img-price > span {
    font-size: 20px;
    display: inline-block;
    text-align: center;
}
.basket-step-1 {
    width: 950px;
    margin-top: 40px;
}
.total-price-wrap {
    margin: 20px 0;

}
.basket-single-form {
    display: inline-block;
    /* display: inherit; */

    width: 120px;
    margin-bottom: 20px;
    padding-right: 21px;
}
.basket-single-form input {
    width: 50px;
    
}
.total-word {
    float: left;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 54px;
}
.total-price {
    float: right;
    font-weight: bold;
    color: red;
}
.green-button,
.back-button {
    background-color: #6CC7B4;
    border: none;
    border-bottom: 3px solid #6DBACB;
    border-right: 2px solid #6DBACB;
    border-radius: 20px;
    padding: 5px 25px;
    display: inline-block;
    color: black;
    /* width: 100%; */
}
.margin-top-10 {
    margin-top: 10px;
}
.buttons-block {
    margin-top: 25px;
    margin-bottom: 25px;
}
.buttons-block .back-button {
    padding: 5px 75px;
}
.buttons-block .continue-button {
    padding: 5px 75px;
}
.continue-button {
    background: #18BDC3;
    border: none;
    border-bottom: 3px solid #3195B2;
    border-radius: 20px;
    padding: 5px 25px;
    display: inline-block;
    color: black;
    border-right: 2px solid #3195B2;
    font-size: 16px;
    font-family: PoiretOne;
    text-transform: uppercase;
}
.continue-button.disabled {
    background: #1aced4;
    color: #545454;
}
#totalPrice {
    font-size: 36px;
}
.img-count,
.img-count-form {
    display: inline-block;
}
.buyer-info-form {
    /*padding-left: 50px;*/
}
.buyer-info-form h2 {
    color: #575556;
    font-weight: normal;
}
.buyer-info-form h1+p {
    color: #9C9E9F;
    font-size: 12px;
}
.forms-start {
    margin-top: 30px;
}
.tree-forms {
    width: 555px;
    /* border: 1px solid black; */
}
.total-basket-info {
    width: 200px;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 35px 55px 35px 25px;
}
.order-head-wrap {
    /* margin-top: 40px; */
    padding-right: 55px;
}
.enter-wrap {
    width: 270px;
}
.block-wrap {
    width: 230px;
}
.middle-block-wrap {
    width: 115px;
}
.small-block-wrap {
    width: 85px;
}
.enter-wrap .continue-button {
    margin-top: 40px;
    text-align: center;
    padding: 5px 80px;
}
.create-profile-wrap {
    width: 230px;
}
.tree-forms label {
    display: block;
    font-size: 14px;
    color: #88898C;
    text-transform: none;
    font-family: "Open Sans";
    margin-top: 18px;
    margin-bottom: 4px;
}
.tree-forms label .required {
    color: #84CCBE;
}
.input-text {
    height: 30px;
    width: 100%;
    border: 1px solid #D7D9D9;
    background: white;
    border-radius: 10px;
    font-size: 12px;
    line-height: 30px;
    text-indent: 10px;
}
[type="text"]:disabled {
    background: #E6E7E7;
}
#create-profile-form input[type="submit"] {
    text-transform: uppercase;
    padding: 5px 0;
    width: 230px;
    margin-top: 20px;
    font-family: PoiretOne;
    font-size: 16px;
}
.errorSummary {
    border: 1px solid #ae0000;
    color: #ae0000;
    background: #ff6761;
    padding: 4px;
}
.errorMessage {
    border: 2px solid #ae0000;
    color: #ae0000;
    background: rgba(255, 105, 99, 0.70);
    padding: 2px;
}
.confirm-info {
    width: 325px;
}
.confirm-table {
    border-collapse: collapse;
    text-transform: none;
    margin-right: 2px;
    font-family: "Open Sans";
}
.confirm-table label {
    font-size: 12px;
    color: black;
    display: block;
}
.confirm-table td {
    /*border: 1px solid #000000;*/
    padding: 0 10px 18px 10px;
    width: 150px;
}
.input-disabled-text {
    border: 2px solid #E7E7E8;
    border-radius: 10px;
    /* height: 20px; */
    /* width: 100%; */
    color: gray;
    padding: 4px;
    font-family: "Open Sans";
    width: 133px;
}
.confirm-table input:disabled {
    background: white;
}
.confirm-photo-wrap {
    float: left;
    margin-left: 14px;
}
.confirm-photo-wrap .photo-wrap {
    position: relative;
    width: 110px;
    height: 130px;
    text-align: center;
    background: #F3F3F3;
    box-shadow: 3px 3px 3px #C7C8C8;
    float: none;
}
.confirm-photo-wrap .count {
    text-align: center;
    color: #939598;
    font-family: "Open Sans";
    font-size: 12px;
    margin-top: 10px;
    text-transform: none;
}
.selected-photos {
    width: 280px;
}
.confirm-photo-wrap .result {
    position: absolute;
    width: 97px;
    height: 97px;
    top: 6px;
    left: 6px;
    background-repeat: no-repeat;
    background-position: center;
    /* display: none; */
}
.confirm-photo-wrap .result-loading {
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url('/img/load_bar.gif');
}
.confirm-photo-wrap .result-success {
    background-image: url('/img/button-ok.png');
    background-color: rgba(255, 255, 255, 0.4);
}
#message {
    /* background: white; */
    position: absolute;
    width: 170px;
    min-height: 20px;
    right: 0px;
    bottom: 60px;
}
#message.success {
    display: inline-block;
    padding: 5px;
    border: 2px solid green;
    color: rgb(3, 68, 3);
    background: rgb(178, 252, 178);
}
.confirm-info .basket-cost {
    display: inline-block;
}
.confirm-info .basket-cost #priceWrap {
    margin-bottom: 0;
}
#confirm {
    display: inline-block;

    /* margin-top: -57px; */
    /* margin-bottom: 10px; */
    /* position: relative; */
    /* top: -15px; */
    /* float: right; */
    float: none;
}
#confirm.disabled {
    background: #75D9DD;
    color: gray;
}
.content .confirm-order {
    background: white;
    width: 650px;
    border: 3px solid #A69991;
    border-top: none;
    float: right;
    padding: 0 30px 25px 15px;
    min-height: 588px;
}
.confirm-order h2 {
    text-align: center;
    margin: 22px 0;
    font-size: 18px;
}
.margin-right-70 {
    margin-right: 70px;
    margin-top: 60px;
    margin-bottom: 25px;
}
.blue-stripe {
    background: #18BCC3;
    height: 10px;
    width: 701px;
    float: right;
}
.green-open-sans-text {
    color: #19BDC3;
    font-family: "Open Sans";
    text-transform: none;
    font-size: 14px;
    margin-bottom: 20px;
}
.chess-stripe {
    width: 15px;
    height: 170px;
    float: left;
}
.chess-stripe.dark {
    background: #D7D6D6;
}
.chess-stripe.light {
    background: #EDEDED;
}
.photo-count {
    color: #939598;
    font-style: italic;
}
.basket-cost.final {
    position: absolute;
    right: 150px;
    bottom: 24px;
}
.basket-cost.final .grey-text {
    color: #939598;
}
.basket-cost.final #priceWrap {
    margin-bottom: 0;
}
.print-button.final {
    position: absolute;
    bottom: 25px;
    right: 31px;
}
.login-form {
    width: 300px;
}
.login-form .green-button {
    font-family: PoiretOne;
    text-transform: uppercase;
    margin-top: 15px;
}
.news-wrap {
    overflow: hidden;
    margin-bottom: 20px;
}
.news-wrap .news-body {
    padding-left: 19px;
    float: left;
    width: 410px;
}
.news-wrap img {
    float: left;
}
.news-wrap time,
.single-news-wrap time
{
    color: #BFC1C3;

    font-size: 14px;
    display: block;
}
.news-wrap h2 a {
    font-weight: normal;
    text-transform: uppercase;
    color: #19BDC3;
}
.news-wrap .short,
.single-news-wrap .single-news-content {
    font-family: "Open Sans";
    color: #7D7E81;
    font-size: 12px;
    line-height: 16px;
}
.news-wrap .read-more {
    display: block;
    text-align: right;
    text-transform: uppercase;
    color: #19BDC3;
    font-size: 10px;
}
.news-wrap .read-more:after {
    content: "»";
    display: inline-block;
    font-size: 14px;
    padding-left: 5px;
}
.news-pager {
    text-align: right;
}
.news-pager li{
    display: inline-block;
}
.news-pager .page a {
    color: #19BDC3;
}
.news-pager .selected a {
    color: #7D7E81;
    font-size: 20px;
}
.fake-news-head {
    height: 140px;
    text-transform: uppercase;
    margin-left: 30px;
}

.fake-news-head a {
    padding-top: 20px;
    color: #18BCC2;
    font-size: 50px;
    line-height: 50px;
    display: block;
    cursor: pointer;
}
.fake-news-head p {
    color: #9C9E9F;
    font-size: 12px;
    margin-top: 10px;
}
.single-news-wrap h1 {
    font-size: 16px;
    color: #19BDC3;
    font-weight: normal;
    text-transform: uppercase;
}
#carousel-wrapper {
    padding: 30px 0 10px 0;
    position: relative;
}
#carousel, #thumbs {
    overflow: hidden;
}
#carousel-wrapper .caroufredsel_wrapper {
}
#carousel .slide {
    width: 550px;
    height: 415px;
    text-align: center;
    line-height: 400px;
}
div.slide img {
    max-height: 100%;
    max-width: 100%;
    box-shadow: none;
}
#carousel .slide, #carousel a, #thumbs span, #thumbs a {
    /* position: relative; */
    display: block;
    float: left;
    text-align: center;
    /* border: 1px solid; */
    padding: 0 5px;
    /* height: 100px; */
}
#thumbs-wrapper {
    position: relative;
    width: 570px;
    overflow: hidden;
}
#thumbs img {
    border: none;
    display: inline-block;
}
.pag {
    color: #19BDC3;
    font-size: 50px;
    line-height: 103px;
}
#prev {
    float: left;
}
#next {
    float: right;
}
.thumbs {
    width: 510px;
    height: 120px;
    display: inline-block;
    float: left;
    text-align: center;
}
#thumbs a {
    /* height: 100px; */
    
    line-height: 120px;
    width: 95px;
}
#thumbs img {
    max-width: 120px;
    max-height: 120px;
}
.scroll-box-cont {
    width: 375px;
}
.scroll-box {
    width: 100%;
    height: 544px;
}
.basket-warning {
    background: white;
    padding: 10px 10px 30px;
    font-weight: bold;
    max-width: 300px;
    text-align: center;
}
.edit-image-text {
    width: 300px;
    margin-top: 50px;
    color: white;
    text-transform: none;
    font-family: "Open Sans";
}
.edit-image-text ul {
    list-style: circle;
}
.edit-image-text li {

}
.print-button.disabled {
    color: grey;
    
    background-color: #35D7DD;
}
.logout-wrap {
    text-align: right;

    border-bottom: 1px solid rgb(179, 173, 173);
    margin-bottom: 5px;
}
.logout {
    display: inline-block;
    color: white;
    padding: 4px 14px;
    margin: 7px;
    border-radius: 14px;
}
.instagram-tab .logout {
    background-color: #929497;
}
.fb-tab .logout {
    background-color: #6AC6B4;
}
.vk-tab .logout {
    background-color: #35A0BE;

}
    /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.left {
    float: left;
}

.right {
    float: right;
}

/*.clearfix {*/
/*float: none;*/
/*clear: both;*/
/*}*/
.capitalize {
    text-transform: capitalize;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    top: 0;
    left: 0;
}
.overflow-hidden {
    overflow: hidden;
    vertical-align: middle;
    /* display: table-cell; */
}
.overflow-hidden .left {
    /* min-height: 107px; */
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.addAllPhoto, .removeAllPhoto {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    margin: 12px 0 0 0;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    display: inline-block;
}
.text-right {
    text-align: right;
    padding-right: 9px;
}
.addAllPhoto span, .removeAllPhoto span {
    display: block;
    font-size: 8px;
    margin-top: -5px;
}
.span-19{
    padding-bottom: 230px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

.home-page > #message{
    /* background: white; */
    position: absolute;
    /* width: 170px; */
    min-height: 20px;
    right: 0px;
     bottom: auto;
    top: 0;
    z-index: 999999;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
/*.wrapper-status-pay{*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
/*}*/
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}